
<h1>Search tweets from user</h1>
<%= form_tag "Tweet", method: "get", remote: true do %>

<% end %>

<ul>
    <% @tweets.each do |tweet| %>
      <%= render partial: "tweet", locals: {tweet: tweet}%>
    <% end %>
</ul>

<br>

