<p id="notice"><%= notice %></p>

<h1>Search tweets from user</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tweets.each do |tweet| %>
    <% end %>
  </tbody>
</table>

<br>

